<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <title>Movie Added | Jennifer Bland</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2>Added Movie!</h2>
            <p><strong>Title: </strong>{{movie.movieTitle}}</p>
            <p><strong>Year: </strong>{{movie.movieYear}}</p>
            <p><strong>IMDB: </strong>{{movie.movieIMDB}}</p>
            <a href="/"><button class="btn btn-primary">Submit Another Movie</button></a>
        </div>
    </body>
</html>